# Pandas Introduction - DataFrame Project Helper

This notebook contains examples that will help you with Project 2.

In [18]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

### Reading Data from Comma Separated Value (CSV) Files

In [19]:
data_in = 'tips.csv'

Read our data file into a dataframe.  CSV files often have a header row (this one does) and Pandas will use the header row to identify column names.  Of course, you are free to explicitly define the column names, as well.

If the CSV does not have a header row, you may specify the column names when creating the dataframe by reading the file.  See the Pandas documentation for options.

In [20]:
tips = pd.read_csv(data_in)

Let's take a look at the data.  Note that Jupyter notebooks conveniently skips rows when dataframes are large.

In [21]:
tips

     total_bill   tip smoker   day    time  size
0         16.99  1.01     No   Sun  Dinner     2
1         10.34  1.66     No   Sun  Dinner     3
2         21.01  3.50     No   Sun  Dinner     3
3         23.68  3.31     No   Sun  Dinner     2
4         24.59  3.61     No   Sun  Dinner     4
..          ...   ...    ...   ...     ...   ...
239       29.03  5.92     No   Sat  Dinner     3
240       27.18  2.00    Yes   Sat  Dinner     2
241       22.67  2.00    Yes   Sat  Dinner     2
242       17.82  1.75     No   Sat  Dinner     2
243       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

It is very easy to write a CSV from a DataFrame.

Hmmm...it doesn't seem we have data for every day.  Let's check...

In [22]:
tips['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

What about some of the other columns?

In [23]:
tips['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [24]:
tips['size'].value_counts()

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64

### Grouping and Aggregating

Can you show the total size of the parties for smokers and non smokers for all days and times? (Group by smoker, select size, and get sum)

In [25]:
tips.groupby(['smoker'])['size'].sum()

smoker
No     403
Yes    224
Name: size, dtype: int64

Can you show the max party size for smokers and non smokers for all days and times? (Group by smoker, select size, and get max)

In [29]:
tips.groupby(['smoker'])['size'].max()

smoker
No     6
Yes    5
Name: size, dtype: int64