# Introduction to Data Science - Lab - Using SQL with Pandas

#### <span style="color:red">Name: </span>

## Introduction

The purpose of this project is to explore using SQL as the language to interact with Pandas dataframes.  

<span style="color:blue">While it is certainly possible to perform all the tasks in this notebook directly using Pandas functions, the point of this exercise is to use SQL.  This means this project will be graded on your use of SQL, so you should use SQL!  ðŸ˜€</span>

Hint: You need to install the Panda SQL module to complete this lab.  See lecture notebook for more information.

For this exercise, we will use data about colleges from the file:

- College.csv

## Import the modules you need here.

---
## <span style="color:red">Task 1</span>

Create a convenience lambda function to use with `pandasql` that passes global variables to your query object.

## Data Aquisition

---
## <span style="color:red">Task 2</span>

**Read the data file into a dataframe called "college".**

---
## <span style="color:red">Task 3</span>

**Display the summary information (i.e., `info`) about the "college" dataframe, including the names of the columns.**

---
## <span style="color:red">Task 4</span>

**Pandas SQL does not recognize column names with embedded periods.**

**Rename the columns to replace '.' with '_' as needed, then display the summary of the dataframe again.**

Check your work by running info again.

<span style="color:blue">Hint:</span> Do a little web searching for how to rename **columns** in Pandas

---
## <span style="color:red">Task 5</span>

**Using SQL, select just the following columns from the base dataframe and display the result.:**

- school name
- private or public status
- number of students accepted
- number that enrolled

---
## <span style="color:red">Task 6</span>

**Using SQL, select just the following columns from the base dataframe for only the private colleges and display the result.**

- school name
- private or public status
- number of students accepted
- number that enrolled

---
## <span style="color:red">Task 7</span>

**Using SQL, select just the following columns from the base dataframe for all the colleges with graduation rates of 90% or above.**

**Display the result in descending order by graduation rate (i.e., highest first).**

- school name
- private or public status
- number that enrolled
- graduation rate

---
## <span style="color:red">Task 8</span>

**Using SQL, select just the following columns from the base dataframe for all the colleges with graduation rates oveof 90% or above and the college is public.**

**Display the result in descending order by graduation rate (i.e., highest first).**

- school name
- private or public status
- number that enrolled
- graduation rate

---
## <span style="color:red">Task 9</span>

**Using SQL, select all the colleges with "Arkansas" as part of their name and display the columns below.**

- school name
- private or public status
- number that enrolled
- graduation rate

Hint: You will need to use LIKE in your SQL statement.

---
## <span style="color:red">Task 10</span>

**Using SQL, select count the number of colleges with graduate rates of 25% or lower.**

---
## <span style="color:red">Task 11</span>

**Using SQL, find the lowest and highest graduation rate achieved.  Store that values in variables called 'min_grad_rate'and 'max_grad_rate', respectively. Hint: the result is returned in a Panda DataFrame, so you can use loc to retreive the values.**

---
## <span style="color:red">Task 12</span>

**Using SQL, select the colleges which have the highest graduation rates (i.e., the maximum graduation rates in the data).**

**Display the following columns for all schools with the highest rate.  Use the variables set above to help form this query.**

- school name
- private or public status
- number that enrolled
- graduation rate
- maximum graduation rate

Hint: You obtained the maximum graduation rate in the previous task.

---
## <span style="color:red">Task 13</span>

**Using SQL, select the colleges which have the lowest graduation rates (i.e., the minimum graduation rates in the data).**

**Display the following columns for all schools with the lowest rate.  Use the variables set above to help form this query.**

- school name
- private or public status
- number that enrolled
- graduation rate

Hint: You already obtained the minimum graduation rate.

---
## <span style="color:red">Task 14</span>

**Using SQL, display the average graduation rate, the average number enrolled, and the average student-teacher ratio for private schools vs public schools.**

**Display the following columns for the result.**

- private or public status
- average number that enrolled
- average graduation rate
- average student faculty ratio

Hint: You will need to use GROUPBY in your SQL statement.

---
## <span style="color:red">Task 15</span>

**Using SQL, display the average graduation rate, the average number enrolled, and the average student-teacher ratio for private schools vs public schools, but including only those schools with graduation rates of 65% or higher.**

**Display the following columns for the result.**

- private or public status
- average number that enrolled
- average graduation rate
- average student faculty ratio

<p style="font-size:120%;color:navy;background:linen;padding:10px;text-align:center">&copy; Copyright 2022 by Michelle Talley <br> <br>You may not publish this notebook on any website or share it with anyone without explicit permission of the author. </p>